*{
	margin: 0;
	padding: 0;
	font-weight: lighter;
}

.banner{
	background-image: url('../img/zayavka_banner_credit.jpg');
	widows: 100%;
	height: 250px;
}

.form_feedback{
	margin-top: 2%;
	width: 100%;
	display: flex;
	justify-content: center;
	margin-bottom: 50px;

}

.about_feedback{
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
	text-align: center;
}

.about_feedback i {
	color:green;
}


.input_t{
	width: 400px;
	height: 40px;
	text-align: center;
	border: 1px solid rgba(122, 122, 122, 0.3);
	border-radius: 5px;
	display: block;
}

.input_t:hover{
	border: 1px solid rgba(122, 122, 122, 1);
	transition: 0.5s linear; 
}

.field_feedbacak select  {
	width: 402px;
	height: 40px;
	text-align: center;
	border: 1px solid rgba(122, 122, 122, 0.3);
	border-radius: 5px;	
	display: block;
}



.field_feedbacak select:hover{
	border: 1px solid rgba(122, 122, 122, 1);
	transition: 0.5s linear; 
}

.textarea_feedbacak{
	width: 390px;
	height: 195px;
	padding: 5px;
	border: 1px solid rgba(122, 122, 122, 0.3);
	border-radius: 5px;
	display: block;
}

.textarea_feedbacak:hover{
	border: 1px solid rgba(122, 122, 122, 1);
	transition: 0.5s linear; 
}
.field_margin{
	margin-top: 15px;
}

.field_feedbacak input[type=submit] {
	border-radius: 20px;
	background-color:red;
	color: white;
	width: 150px;
	height: 40px;
	border: none;
	margin-left: 120px;
}

.checkbox{
	font-size: 13px;
	display: block;
}
.checkbox input[type=checkbox] {
position: absolute;
margin-top: 2px;
margin-left: 2px;

	
}

/* СТИЛИ ДЛЯ ФОРМЫ */
label.error{
	color:red;
	display: block;
}

input.error{
	border:solid 1px red;
}

select.error {
	border:solid 1px red;
}


.tht{
	justify-content: center;
	margin-top: 50px;
	display: none;
}

.tht i{
	color: green;

}
